<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moon.mybatis.dao.ConsultConfigAreaMapper">

    <!-- 启用二级缓存 -->
    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>

    <!-- 基础结果集映射，使用类的完全限定名的方式指定type -->
    <resultMap id="AreaResultMap" type="com.moon.mybatis.pojo.ConsultConfigArea">
        <result column="AREACODE" property="areaCode" jdbcType="VARCHAR"/>
        <result column="AREANAME" property="areaName" jdbcType="VARCHAR"/>
        <result column="STATE" property="state"/>
    </resultMap>

    <!-- SQL片段 -->
    <sql id="queryAreaByAreaCodesql">
        `areaCode`,`areaName`,`state`
    </sql>

    <!-- resultMap映射，返回多个数据
        设置 flushCache="true"，关闭此查询语句的一级缓存
        当此命名空间开启了二级缓存，设置 useCache="false"，关闭此查询语句的二级缓存
     -->
    <select id="queryAreaByAreaCode" resultMap="AreaResultMap">
        select
        <include refid="queryAreaByAreaCodesql"/>
        from consult_configarea
    </select>

    <!-- TODO: 补充动态sql的示例 -->
    <!-- trim、if 动态标签示例 -->
    <select id="queryAreaByCondition" parameterType="java.util.Map" resultMap="AreaResultMap">
        select
        <include refid="queryAreaByAreaCodesql"/>
        from consult_configarea
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="areaCode != null and areaCode != ''">
                and areaCode = #{areaCode,jdbcType=VARCHAR}
            </if>
            <if test="areaName != null and areaName != ''">
                and areaName = #{areaName,jdbcType=VARCHAR}
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
        </trim>
        order by areaCode desc
        <if test="beginPage != null and beginPage != ''">
            LIMIT #{beginPage}
        </if>
        <if test="pageSize != null and pageSize != ''">
            ,#{pageSize}
        </if>
    </select>

</mapper>